<!DOCTYPE html>
<html>
<head>
    <!-- / jquery -->
    <script src='~/assets/javascripts/jquery/jquery.min.js' type='text/javascript'></script>
    <script>
        $(function () {
            $('.nav li .nav li .nav');
             $('.nav li .nav li .nav li:nth-of-type(1)').addClass('active');
        });
    </script>
</head>
<body>
    <div class='page-header'>
        <h1 class='pull-left'>
            <i class='icon-dashboard'></i>
            <span>Dashboard</span>
        </h1>
        <ul class='pull-right'>
            <li class='dropdown dark user-menu'>
                <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                    <span class='user-name hidden-phone'>Mila Kunis</span>
                    <b class='caret'></b>
                </a>
                <ul class='dropdown-menu'>
                    <li>
                        <a href='#'>
                            <i class='icon-user'></i>
                            Profile
                        </a>
                    </li>
                    <li>
                        <a href='#'>
                            <i class='icon-cog'></i>
                            Settings
                        </a>
                    </li>
                    <li class='divider'></li>
                    <li>
                        <a href='sign_in.html'>
                            <i class='icon-signout'></i>
                            Sign out
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</body>
</html>





